/* CSS BY Alaina Elsea */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ROOT VARIABLES */
:root {
  --teal: #4CA7C0;
  --purple: #484FB7;
  --lavender: #6B8FE7;
  --yellow: #E9BB57;
  --pink: #D9526F;
  --dark-gray: #1E1E1E;
  --white: #ffffff;
  --radius: 14px;
}

/* GLOBAL STYLES */
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--lavender);
  color: var(--dark-gray);
  line-height: 1.6;
}

.container {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* TYPOGRAPHY */
h1, h2 { font-family: 'Kavoon', cursive; }
h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.15em; }

.site-title {
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  padding: 1.5rem;
  border-radius: 0;
  margin-top: -1.0rem;
  margin-bottom: -1.0rem
}

.tagline {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-size: 1rem;
}

.menu-container {
  background-color: var(--yellow);
  padding: 1rem;
  border-radius: 0;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0rem
}

.menu-title {
  font-family: 'Inter', sans-serif;
  color: var(--dark-gray);
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 0.75rem;
}

.menu-container ul {
  list-style: none;
  padding: 0;
}

.menu-container li {
  margin: 0.5rem 0;
}

.menu-container a {
  display: block;
  background-color: var(--white);
  color: var(--purple);
  padding: 0.6rem;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border-radius: 0;
  text-transform: uppercase;
}

#services {
  background-color: var(--purple);
  border-radius: 0;
  margin: 0;
  padding: 1.25rem;
  color: var(--white);
  width: 100%;
  box-sizing: border-box;
  margin-top: 0rem;
  margin-bottom: -1.0rem
}

#services header h2 {
  text-align: left;
  color: var(--white);
  margin-bottom: -0.75rem;
}

#services header h3 {
  text-align: left;
  color: var(--yellow);
  margin-bottom: 0 rem;
}

.service-card {
  background-color: var(--white);
  color: var(--dark-gray);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  text-align: left;
}

.service-card h4 {
  color: var(--purple);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.service-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}
